body {
	background-image: url("bg_1280.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%
}

audio {
	width: 300px;
}

#content {
	position: fixed;
	height: 60%;
	width: 100%;
}

#wrapper{
	position: absolute;
	bottom: 40px;
	width: 100%;
}

#tracks {
	position: relative;
	margin: 0 auto;
	display: grid;
	width: 450px;
	padding-right: 100px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(20px, auto);
	align-items: center;
}

.track-title {
	width: 150px;
	grid-column: 1; 
	text-align: right;
	font-size: 18px;
}

.track-audio {
	grid-column: 2 / 3;
}

#pad {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40%;
}
